@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply container mx-auto px-10 lg:px-0 md:px-5;
}

/* Define the default style of the nav links */
.nav-link {
  @apply relative; /* Apply relative positioning */
}

.nav-link::after {
  @apply absolute inset-x-0 bottom-1.5;
  content: "";
  width: 0%;
  height: 3px;
  @apply bg-gray-400;
  @apply duration-300 ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}
